/* Global */

body{
    font-family:Inter, Arial, sans-serif;
    background:#f1f5f9;
}



/* HERO */

.hero{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
    padding:140px 0;
}

.hero-content h1{
    font-size:54px;
    font-weight:700;
}

.hero-content span{
    color:#22c55e;
}

.hero-content p{
    font-size:18px;
    max-width:600px;
    opacity:.9;
}

.hero-buttons{
    margin-top:30px;
}

.hero-features{
    margin-top:35px;
    display:flex;
    gap:40px;
    font-weight:500;
    opacity:.9;
}
.hero-features span{
    display:flex;
    align-items:center;
}


/* FEATURES */

.features{
    padding:90px 0;
}

.feature-card{
    border:none;
    border-radius:14px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.2s;
}

.feature-card:hover{
    transform:translateY(-5px);
}



/* TRUSTED LOGOS */

.trusted{
    background:#f8fafc;
    padding:80px 0;
}

.logos{
    display:flex;
    justify-content:center;
    gap:40px;
    font-weight:600;
    opacity:.8;
}

/* Stats */
.stats{
/* background:#0f172a;
color:white; */
background: #f8fafc;
color: #212529;
padding:80px 0;
}
.stats h3{
color:#22c55e;
font-size:34px;
}

/* CTA */

.cta{
    padding:100px 0;
}



/* MODALS */

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    z-index:3000;
    justify-content:center;
    align-items:center;
}

.modal-cont{
    background:white;
    width:90%;
    max-width:420px;
    padding:25px;
    border-radius:14px;
}

.modal-cont input{
    width:100%;
    padding:10px;
    margin:8px 0;
}

.button{
    width:100%;
    padding:10px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:6px;
}

.close{
    float:right;
    cursor:pointer;
}

/* DASHBOARD COMPONENTS */

.readiness-circle{
width:140px;
height:140px;
border-radius:50%;
margin:auto;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
background:conic-gradient(#22c55e calc(var(--score)*1%), #e5e7eb 0);
}

.timeline{
list-style:none;
padding-left:0;
}

.timeline li{
padding:10px 0;
border-left:3px solid #e5e7eb;
padding-left:15px;
position:relative;
}

.timeline li::before{
content:"";
position:absolute;
left:-7px;
top:14px;
width:10px;
height:10px;
border-radius:50%;
background:#cbd5e1;
}

.timeline li.done{
border-color:#22c55e;
}

.timeline li.done::before{
background:#22c55e;
}

.timeline li.active::before{
background:#f59e0b;
}

.job-item{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
border-radius:8px;
margin-bottom:10px;
background:#f8fafc;
}

/* --------------------------- */
/* APP DASHBOARD LAYOUT */

.app-layout{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:240px;
background:#0f172a;
border-right:1px solid #e5e7eb;
color:white;
display:flex;
flex-direction:column;
padding:20px 15px;
height:100vh;
}

.sidebar-logo{
font-size:20px;
font-weight:600;
margin-bottom:30px;
}

.sidebar-menu a{
display:flex;
align-items:center;
gap:10px;
padding:12px 16px;
color:#586a81;
border-radius:8px;
text-decoration:none;
margin-bottom:6px;
transition:0.2s;
}

.sidebar-menu i{
font-size:18px;
}

.sidebar-menu a:hover{
background:#1e293b;
color:white;
}

/* .sidebar-menu a.active{
background:#22c55e;
color:white;
} */
.sidebar-menu a.active{
background:#2f0763cb;
color:white;
border-radius:8px;
font-weight:600;
}

.sidebar-bottom{
margin-top:auto;
}

.sidebar-bottom a{
color:#94a3b8;
text-decoration:none;
}

/* MAIN CONTENT */

.app-content{
flex:1;
padding:40px;
background:#f1f5f9;
}

/* -------------------- */
/* Skill bars */

.skill-bar{
height:8px;
background:#e5e7eb;
border-radius:10px;
overflow:hidden;
}

.skill-bar-fill{
height:100%;
width:0%;
background:linear-gradient(90deg,#3b82f6,#22c55e);
transition:width 1.2s ease;
}

.skill-row{
margin-bottom:14px;
}

.skill-label{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:4px;
}

/* ------------------------- */
/* Circular readiness chart */

.progress-ring{
transform:rotate(-90deg);
transform-origin:50% 50%;
}

.chart-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:22px;
font-weight:700;
}

/* ------------------ */
/* Small Screens */
@media (max-width:992px){

.app-layout{
flex-direction:column;
}

.sidebar{
position:fixed;
left:-260px;
top:0;
height:100%;
transition:0.3s;
z-index:1000;
width:100%;
border-right:none;
border-bottom:1px solid #e5e7eb;
}

.sidebar.active{
left:0;
}

.app-content{
margin-left:0;
padding:20px;
}

}

/* ------------- */
/* glass effect */
.card{
border:none;
border-radius:16px;
box-shadow:0 10px 30px rgba(0,0,0,0.05);
transition:0.25s ease;
}

.card:hover{
transform:translateY(-4px);
box-shadow:0 15px 40px rgba(0,0,0,0.08);
}

/* ------------------------------------- */
/* Job skill match bars */

.job-skill{
margin-bottom:10px;
}

.job-skill-bar{
height:8px;
background:#e5e7eb;
border-radius:10px;
overflow:hidden;
}

.job-skill-fill{
height:100%;
background:linear-gradient(90deg,#3b82f6,#22c55e);
width:0%;
transition:width 1s ease;
}

/* ---------------------- */
/* Result page */
.readiness-chart{
width:140px;
height:140px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-weight:700;
font-size:26px;
background:conic-gradient(#22c55e var(--percent), #e5e7eb var(--percent));
position:relative;
margin:auto;
}

.readiness-chart::after{
content:"";
position:absolute;
width:105px;
height:105px;
background:white;
border-radius:50%;
}

.readiness-chart span{
position:relative;
z-index:2;
font-size:26px;
font-weight:700;
color:#0f172a;
}

.progress-ring{
transform:rotate(-90deg);
transform-origin:50% 50%;
transition:stroke-dashoffset 1s ease;
}

/* ----------- */
/* Roadmap */
.roadmap{
border-left:3px solid #22c55e;
padding-left:20px;
}

.roadmap-step{
position:relative;
margin-bottom:25px;
}

.roadmap-step::before{
content:"";
position:absolute;
left:-11px;
top:5px;
width:14px;
height:14px;
background:#22c55e;
border-radius:50%;
}

.roadmap-card{
background:white;
padding:18px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.05);
}
/* Roadmap Progress */

.roadmap-progress{
margin-bottom:30px;
}

.roadmap-progress-bar{
height:10px;
background:#e5e7eb;
border-radius:10px;
overflow:hidden;
}

.roadmap-progress-fill{
height:100%;
background:linear-gradient(90deg,#22c55e,#16a34a);
width:35%;
}

/* Timeline */

.roadmap-timeline{
border-left:3px solid #22c55e;
padding-left:20px;
}

.roadmap-step::before{
content:"";
position:absolute;
left:-11px;
top:5px;
width:14px;
height:14px;
border-radius:50%;
background:#22c55e;
}

.roadmap-step.pending::before{
background:#d1d5db;
}

.roadmap-status{
font-size:12px;
padding:3px 8px;
border-radius:6px;
}

.status-done{
background:#045220da;
color:white;
}

.status-current{
background:#3873d3;
color:white;
}

.status-upcoming{
background:#14c1ce;
color:white;
}