{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Admin Dashboard</h2>

    <div class="card">
        <h3>Registered Users</h3>

        <table class="admin-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.u_id }}</td>
                    <td>{{ user.u_name }}</td>
                    <td>{{ user.u_email }}</td>
                    <td>
                        {% if user.u_role == "admin" %}
                            <span class="badge admin-badge">Admin</span>
                        {% else %}
                            <span class="badge user-badge">User</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}