{% extends "base.html" %}
{% block content %}

<h2>Profile</h2>
<div class="profile-grid">
    <div class="card profile-card">
        <h3>Account Information</h3>
        <div class="info_row">
            <span>Name</span> <strong>{{ current_user.u_name }}</strong>
        </div>
        <div class="info_row">
            <span>Email</span> <strong>{{ current_user.u_email }}</strong>
        </div>
        <div class="info_row">
            <span>Role</span> 
            {% if current_user.u_role == "admin" %}
                <span class="badge admin-badge">Admin</span>
            {% else %}
                <span class="badge user-badge">User</span>
            {% endif %}
        </div>
    </div>

    <div class="card profile-card">
        <h3>Career Stats</h3>
        <div class="stat-large">78%</div>
        <p>Profile Score</p>

        <div class="mini-stats">78%
            <div>
                <strong>3</strong>
                <span>Applications</span>
            </div>

            <div>
                <strong>Intermediate</strong>
                <span>Skill Readiness</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
